---
import MainLayout from '#/layouts/main.astro'
---
<MainLayout>
  <section class="flex items-center justify-center min-h-screen">
    <span class="font-medium">404 - Not Found</span>
  </section>
</MainLayout>
