---
import MainLayout from '#/layouts/main.astro'

import FeaturedSocials from '#/components/featured-socials.astro'
---
<MainLayout>
  <section class="hero">
    <FeaturedSocials />
  </section>
</MainLayout>
