---
import MainLayout from '#/layouts/main.astro'
---
<MainLayout>
  <section class="flex items-center justify-center h-screen">
    <div class="max-w-2xl text-center space-y-2">
      <h2 class="text-3xl font-semibold">Hi, Peoples!</h2>
      <p class="leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam mollitia sapiente omnis sit non doloribus exercitationem! Reiciendis asperiores quaerat consequuntur accusamus animi veniam debitis est odio. Atque eius adipisci accusantium?</p>
    </div>
  </section>
</MainLayout>
