---
import github from '#/assets/github.svg?raw'
import linkedin from '#/assets/linkedin.svg?raw'
import stackoverflow from '#/assets/stackoverflow.svg?raw'
import codepen from '#/assets/codepen.svg?raw'

const items = [
  {
    href: 'https://github.com/luas10c',
    title: 'Github',
    svg: github
  },
  {
    href: 'https://www.linkedin.com/in/luas10c',
    title: 'Linkedin',
    svg: linkedin
  },
  {
    href: 'https://stackoverflow.com/users/10968446/luciano-alves',
    title: 'Stackoverflow',
    svg: stackoverflow
  },
  {
    href: 'https://codepen.io/luas10c',
    title: 'Codepen',
    svg: codepen
  }
]
---
<div class="featured-socials">
  <ul>
    {items.map((item) => {
      return (
        <li>
          <a href={item.href} target="_blank">
            <span class="sr-only">{item.title}</span>
            <Fragment set:html={item.svg} />
          </a>
        </li>
      )
    })}
  </ul>
</div>

<style lang="scss">
@use "../layouts/colors" as *;
.featured-socials {
  display: flex;
  justify-content: center;
  padding-top: 16px;

  ul {
    display: flex;
    align-items: center;
    gap: 16px;

    li {
      a {
        color: #a5a5a5;
        transition: color .1s ease;

        &:hover {
          color: $sushi-400;
        }
      }
    }
  }
}
</style>
