---
interface Props {
  text: string
  fullWidth?: boolean
}

const { text, fullWidth = false } = Astro.props
---

<div
  class:list={[
    'mb-5 font-mono text-[10px] tracking-widest text-[var(--muted-5)] uppercase',
    fullWidth && 'w-full'
  ]}>
  {text}
</div>
