.footer {
  padding: 32px 0 16px 0;
  .container {
    max-width: 875em;
    width: 90%;
    margin: 0 auto;
    .copyright-text {
      text-align: center;
      font-size: 1.1em;
      word-wrap: break-word;
    }
  }
}