.html5 {
  background-color: #C95435;
}
.css3 {
  background-color: #1B73BA;
}
.sass {
  background-color: #CC6699;
}
.javascript {
  background-color: #f7df1e;
}
.nodejs {
  background-color: #8CC84B;
}
.typescript {
  background-color: #017ACC;
}
.react {
  background-color: #00D8FF;
  color: #171717;
}
.reactnative {
  background-color: #0074F1;
}
.nextjs {
  background-color: #191a1b;
}
.postgresql {
  background-color: #31648C;
}
.graphql {
  background-color: #DA0093;
}
.docker {
  background-color: #2496ED;
}
.mongodb {
  background-color: #14AA52;
}
.redis {
  background-color: #D12B20;
}
.kuberneters {
  background-color: #336CE5;
}
.nestjs {
  background-color: #D5214A;
}
.amazon-web-services {
  background-color: #484848;
}
.gulp {
  background-color: #D34A46;
}