$woodsmoke-50: #f7f7f8;
$woodsmoke-100: #ededf1;
$woodsmoke-200: #d7d8e0;
$woodsmoke-300: #b4b5c5;
$woodsmoke-400: #8c8fa4;
$woodsmoke-500: #6d708a;
$woodsmoke-600: #585a71;
$woodsmoke-700: #48495c;
$woodsmoke-800: #3e3e4e;
$woodsmoke-900: #373843;
$woodsmoke-950: #0d0d10;

$sushi-50: #f3f9ec;
$sushi-100: #e5f2d5;
$sushi-200: #cde5b1;
$sushi-300: #acd482;
$sushi-400: #8ec05b;
$sushi-500: #79b342;
$sushi-600: #55832d;
$sushi-700: #436526;
$sushi-800: #385123;
$sushi-900: #314621;
$sushi-950: #17250e;

$eucalyptus-50:#f0f9f4;
$eucalyptus-100: #dbf0e2;
$eucalyptus-200: #bae0ca;
$eucalyptus-300: #8bcaa9;
$eucalyptus-400: #5bac84;
$eucalyptus-500: #3a9269;
$eucalyptus-600: #287352;
$eucalyptus-700: #205c43;
$eucalyptus-800: #1c4937;
$eucalyptus-900: #183c2e;
$eucalyptus-950: #0c221a;
