---
import globals from './globals.css?url'
---
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Transformando ideias em código! Sou um desenvolvedor criativo, sempre em busca de inovação. Descubra projetos que unem tecnologia e design de forma surpreendente!">
  <meta name="keywords" content="software enginner,fullstack,desenvolvedor">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Luciano Alves | Software Engineer</title>

  <link rel="icon" href="/icon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">

  <link rel="preload" href={globals} as="style">
  <link rel="stylesheet" href={globals}>
</head>
<body>

  <slot />

</body>
</html>
